scikit-learn
django==5.0.4 # Updated to a more recent version, or use your specific 5.x
django-cors-headers
numpy
pandas
requests
django-browser-reload
channels
daphne
redis
django-redis
plotly
channels-redis
markupsafe
supabase
